# Data Science Ecosystem

**In this notebook, Data Science Tools and Ecosystem are summarized.**

### **Objectives:**
1. List popular languages for data Science
   - Python
   - R
   - SQL
2. List popular libraries for Data Science
   - Pandas
   - NymPy
   - Matlplotlib
3. List popular tools for data Science:
   - MySQL
   - MongoDB
   - Ceph

### Some of the popular languages that Data Scientists use are:
- Python
- R
- SQL

### Some of the commonly used libraries used by Data Scientists include:
* Pandas
* NumPy
* Matplotlib

| Data Science Tools |
| ----------------- |
| MySQL |
| MongoDB |
| Ceph |

### Below are a few examples of evaluating arithmetic expressions in Python
#### 1+1
#### 2*5
#### 9-4

In [ ]:
# This is a simple arithmetic expression to multiply then add integers
result = (3 * 4) + 5
print(result)

In [8]:
# This will convert 200 minutes to hours by diving by 60
result = 200 / 60
print(result)

3.3333333333333335

## Author
Natalia Janasiak